# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\navbj\Documents\PGFULLSTACK\Software Engineering\ImageHoster_assignment_stub\ImageHoster\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
